<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="flex justify-center">
        <div class="flex items-center justify-center">
            <form action="/createUser" method="get">
                <button class="bg-blue-900 text-white rounded-xl p-3 m-2">Create User</button>
            </form>
            <form action="/viewUser" method="get">
                <button class="bg-gray-800 text-white rounded-xl p-3 m-2">View Users</button>
            </form>
            
        </div>
</body>
</html>